.postdate {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}
.postdate small {
  color: red;
  font-size: 12px;
}
.postdate span {
  font-size: 13px;
}

.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}

.skeleton-text {
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.skeleton-title {
  height: 30px;
  width: 70%;
  margin-bottom: 15px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.grid-blog {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
a:hover {
  color: green;
}
