.hero-home {
  text-align: left;
  padding: 80px 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0.335), rgba(255, 255, 255, 0.549)),
    url("https://asset.kompas.com/crops/C6MHbxvwR15R23uxrD9l15UCePM=/0x0:0x0/750x500/data/photo/2022/02/21/6213bef080473.jpg");
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 50px;
}
.hero-title {
  margin-left: 100px;
}

/* Buttons */
.btn {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: var(--transition);
  display: inline-block;
  text-decoration: none;
}

.btn-primary {
  background: var(--primary);
  color: white;
}
.btn-primary:hover {
  background: red;
  /* color: black; */
  box-shadow: 0 5px 15px rgba(45, 90, 39, 0.3);
}
/* Grid System */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  margin-bottom: 20px;
}

/* --- Mobile Responsive Logic --- */
@media (max-width: 768px) {
  .hero-home {
    text-align: center;
  }
  .hero-title {
    margin: 0 auto;
  }
}

.alert {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
}
